body,
#slider,
wrap,
.slide-content {
  margin: 0;
  padding: 0;
  height: 37vh;
  width: 100%;
  overflow-x: hidden;
}
span {
  margin: 0;
  padding: 0;
}
.wrap {
  position: relative;
}
.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .slide1 {
  background-image: url("./sliderImg/pexels-photo-825262.jpg");
}
.slide2 {
  background-image: url("./sliderImg/pexels-photo-1068523.jpg");
}
.slide3 {
  background-image: url("./sliderImg/pexels-photo-669615.jpg");
} */
// .arrow {
//   cursor: pointer;
//   position: absolute;
//   top: 50%;
//   margin-top: -40px;
//   width: 0;
//   height: 0;
//   border-style: solid;
// }

// #arrow-left {
//   border-width: 20px 30px 20px 0;
//   border-color: transparent #fff transparent transparent;
//   left: 0;
//   margin-left: 30px;
// }
// #arrow-right {
//   border-width: 20px 0 20px 30px;
//   border-color: transparent transparent transparent #fff;
//   right: 0;
//   margin-right: 30px;
// }
